<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      html {
        font-family: Arial, sans-serif;
        font-size: 10px;
      }
    </style>
  </head>
  <body>
    <div class="w-50 container">
      <div class="card">
        <div class="card-header">
          Consulta Preanestésica
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-header">
              Datos del Paciente
            </div>
            <div class="card-body">            
              <div class="row">
                <div class="col">
                  <input readonly class="form-control-plaintext" placeholder="Fecha">
                </div>
              </div>
  
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Apellido y Nombre</label>
                  <input readonly class="form-control-plaintext" placeholder="Email">
                </div>
  
                <div class="form-group col-md-6">
                  <label>N° de Documento</label>
                  <input readonly class="form-control-plaintext" placeholder="Número de Documento">
                </div>
              </div>
  
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Obra Social</label>
                  <input readonly class="form-control-plaintext" placeholder="Obra Social">
                </div>
  
                <div class="form-group col-md-6">
                  <label>N° de Afiliado</label>
                  <input readonly class="form-control-plaintext" placeholder="Número de Afiliado">
                </div>
              </div>
  
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Médico Anestesista</label>
                  <input readonly class="form-control-plaintext" placeholder="Médico Anestesista">
                </div>
  
                <div class="form-group col-md-6">
                  <label>N° de CUIT</label>
                  <input readonly class="form-control-plaintext" placeholder="Número de CUIT">
                </div>
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header">
              Clínica Preoperatorio
            </div>
            <div class="card-body">
              <div class="form-check form-check">
                <label class="form-check-label col-8">Insuf. Cardíaca</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>            
              <div class="form-check form-check">
                <label class="form-check-label col-8">Arritmias</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>
              <div class="form-check form-check">
                <label class="form-check-label col-8">Hipertensión</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>
              <div class="form-check form-check">
                <label class="form-check-label col-8">Hipotensión</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>            
              <div class="form-check form-check">
                <label class="form-check-label col-8">Tos</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>
              <div class="form-check form-check">
                <label class="form-check-label col-8">Expectoración</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>
              <div class="form-check form-check">
                <label class="form-check-label col-8">Asma</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>            
              <div class="form-check form-check">
                <label class="form-check-label col-8">Hepatopatía</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>
              <div class="form-check form-check">
                <label class="form-check-label col-8">Coagulopatía</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>
              <div class="form-check form-check">
                <label class="form-check-label col-8">Hipertiroidismo</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>            
              <div class="form-check form-check">
                <label class="form-check-label col-8">Hipotiroidismo</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>
              <div class="form-check form-check">
                <label class="form-check-label col-8">Nefropatía</label>
                <input class="form-check-input col-1" type="checkbox">
                <input class="form-check-input col-2" checked type="checkbox">
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>